.fancy-captcha .item-list ul {
    padding: 0;
}

.fancy-captcha .item-list ul li {
    background: url("items.png") no-repeat;
    display: none;
    height: 36px;
    line-height: 36px;
    padding-left: 40px;
}

.fancy-captcha-processed {
    background: url("bg.jpg") repeat-x;
    border: 2px solid #A8D7EA;
    color: #18779D;
    font-family: Verdana,Tahoma,Arial;
    font-size: 10px;
    height: 80px;
    line-height: 16px;
    padding: 10px;
    position: relative;
    width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.fancy-captcha-processed .item-list {
    bottom: 15px;
    left: 15px;
    position: absolute;
}

.fancy-captcha-processed .item-list ul li {
    float: left;
    padding: 0;
    text-indent: -9999px;
    width: 36px;
}

.fancy-captcha-processed input {
    display: none;
}

.fancy-captcha-circle {
    background: url("circle.png") no-repeat;
    float: right;
    height: 79px;
    position: absolute;
    right: 15px;
    width: 79px;
}

.fancy-captcha-answer {
    color: #66A70B;
}